.blogheading{
    font-size: 50px;
}
.subheading{
    font-size: 22px;
    font-weight: 300;
    font-family: 'Arial Narrow', Arial, sans-serif;
    
}
.footertextt{
    color: rgb(0, 0, 0);
    opacity: 70%;
    text-decoration: none;
    color: #0060B6;
    text-decoration: none;
}
.footertextt:hover{
    color: coral;
    color: #0060B6;
    text-decoration: none;
}
.subscribebutton{
    margin-top: 10px;
    border: black;
    background-color: #f97300;
    color: white;
    border-radius: 4px;
}
