.container{
  background:#F5F7FA;
  
  
}
.headersectionmain{
  width: 100%;
  height: 100%;
}
.headersection {
  margin-bottom: 0px;
  width: 100%;
  font-family: "Poppins", sans-serif;
  padding: 40px 0;
  justify-content: center;
  align-self: center;
  text-align: center;
  align-items: center
}

.socialmediacard{
    display:flex;
    /* grid-template-columns: repeat( auto-fill, minmax(30rem, 1fr) ); */
    
    background:#F5F7FA;
    flex-wrap: wrap;
    justify-content: space-around;
    /* margin-right: 40px; */
    
}
.socialmedia{
    position: relative;
    width: 600px;
    height: 350px;
    margin-top: 50px;
    
    justify-content: space-around;
    box-shadow:0 0 2rem -1rem rgba(0,0,0,.05);
    background-color: #ec6301;
    border-radius: 10px;
  
}
.socialmediacard .socialmedia:nth-child(1){
    background-color: #EC87C0;
    box-shadow:0 0 2px 5px rgba(0,0,0,.05);
    background-image: url(https://assets.website-files.com/6194b68c0434bd8de3ef920f/6216497f8e75dc44de3d908b_ultimatekey%20to%20community%20growth--p-1080.jpeg);
    
}
.socialmediacard .socialmedia:nth-child(2){
    background-color: #5D9CEC;
    box-shadow:0 0 2px 5px rgba(0,0,0,.05);
}
.socialmediacard .socialmedia:nth-child(3){
    background-color: #fff;
    box-shadow:0 0 2px 5px rgba(0,0,0,.05);
}
.socialmediacard .socialmedia:nth-child(4){
    background-color: #3C3B3D;
    box-shadow:0 0 2px 5px rgba(0,0,0,.05);
}
.socialmedia{
    font-size: 86px;
    
    font-weight: 500;
    align-items: center;
    text-align: center;
}

.smalltitle {
    margin-bottom: 20px;
	  font-size: 20px;
    font-weight: 500;
    color: #ec6701;
 
}

.title {
    font-weight: 700;
    font-size: 45px;
}

.bloghead{
  justify-content: center;
  align-content: center;
}
.button1 {
  background-color: #f97300;
  border-radius: 5px;
  border-color:#ff8c00 20px;
position: relative;
  /* box-sizing: border-box; */
  color: #000000;
  cursor: pointer;
  /* display: inline-block; */
  font-family: Poppins;
  font-size: 16px;
  font-weight: 200;
  height: 350px;
  margin-right: 20px;
  width: 280px;
  line-height: 20px;
  list-style: none;
  margin-top: 10px;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button1:hover,
.button1:focus {
  /* background-color: rgb(255, 201, 172); */
  background: rgba(255, 102, 0, 0.15);
  backdrop-filter: blur(55px);
  -webkit-backdrop-filter: blur(15px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: whitesmoke;
  border: 2px dotted #ffff00;

}