/* p,a,h1,h2,h3,h4 {
	margin: 0;
	padding: 0;
} */

.sectionteam {
	font-family: "Poppins", sans-serif;
	padding: 80px 0;

}

.sectionteam .headersection {
	margin-bottom: 50px;
  justify-content: center;
  align-self: center;
  text-align: center;
  align-items: center
}

.sectionteam .headersection .smalltitle {
    margin-bottom: 25px;
	  font-size: 16px;
    font-weight: 500;
    color: #ec6701;
 
}

.sectionteam .headersection .title {
    font-weight: 700;
    font-size: 45px;
}

.sectionteam .singleperson {
	margin-top: 30px;
	padding: 30px;
	background-color: #f6f9ff;
	border-radius: 5px;
  
}

.sectionteam .singleperson:hover {
	background: linear-gradient(to right,#ec6301, #f7a900);
}

.sectionteam .singleperson .personimage {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
    /* background-image: url(../assets/Contactus/abhi.jpg); */
}

.sectionteam .singleperson:hover .personimage {
	padding: 12px;
    border: 4px dashed #fff;
}

.sectionteam .singleperson .personimage img {
	width: 100%;
    border-radius: 50%;
}

.sectionteam .singleperson .personimage .icon {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #ec6301, #f7a900);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.sectionteam .singleperson:hover .personimage .icon {
	background: none;
	background-color: #fff;
	color: #ec6701;
}

.sectionteam .singleperson .personinfo .fullname {
	margin-bottom: 10px;
	font-size: 28px;
    font-weight: 700;
}

.sectionteam .singleperson .personinfo .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #ec5b01;
}

.sectionteam .singleperson:hover .fullname,
.sectionteam .singleperson:hover .speciality {
	color: #fff;
}
.headersectionmain{
  justify-content: center;
  text-align: center;
  
}

/* Social media icons  */

.socialmediacard{
    display:grid;
    grid-template-columns: repeat( auto-fill, minmax(16rem, 1fr) );
    grid-gap: 5rem;
    padding:5rem;
    background:#F5F7FA;
}
.socialmedia{
    position: relative;
    height:12rem;
    box-shadow:0 0 2rem -1rem rgba(0,0,0,.05);
    background-color: #ec6301;
    border-radius: 10px;
  
}
.socialmediacard .socialmedia:nth-child(1){
    background-color: #EC87C0;
    box-shadow:0 0 2px 5px rgba(0,0,0,.05);
}
.socialmediacard .socialmedia:nth-child(2){
    background-color: #5D9CEC;
    box-shadow:0 0 2px 5px rgba(0,0,0,.05);
}
.socialmediacard .socialmedia:nth-child(3){
    background-color: #fff;
    box-shadow:0 0 2px 5px rgba(0,0,0,.05);
}
.socialmediacard .socialmedia:nth-child(4){
    background-color: #3C3B3D;
    box-shadow:0 0 2px 5px rgba(0,0,0,.05);
}
.socialmedia{
    font-size: 86px;
    
    font-weight: 500;
    align-items: center;
    text-align: center;
}

/* Accordion CSS */

.accordion{
    font-size: 50px;
    font-family: sans-serif;
    margin-bottom: 33px;
    text-align: center;


}
.accordion1{
    border-radius: 22px;
}